[run]
omit =
    setup.py
    pydtmc/__init__.py
    pydtmc/base_class.py
    pydtmc/custom_types.py
    pydtmc/decorators.py
    pydtmc/exceptions.py
    pydtmc/utilities.py
    tests/*

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
