# Byte-compiled / Optimized / DLL Diles
__pycache__/
*.py[cod]
*$py.class

# C Extensions
*.so

# Distribution / Packaging
.eggs/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
.installed.cfg
.Python
MANIFEST

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv

# Installer Logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# Unit Test / Coverage Reports
.hypothesis/
.pytest_cache/
.tox/
htmlcov/
.cache
.coverage
*.cover
.coverage.*
nosetests.xml
coverage.xml


# Celery Beat
celerybeat-schedule

# Django
*.log
local_settings.py
db.sqlite3

# Flask
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# MkDocs
/site

# MyPy
.mypy_cache/

# PyBuilder
target/

# PyCharm
.idea/
*.idea

# PyEnv
.python-version

# PyInstaller
*.manifest
*.spec

# Rope
.ropeproject

# SageMath
*.sage.py

# Scrapy
.scrapy

# Sphinx
docs/_build/

# Spyder
.spyderproject
.spyproject
