name: License Update

on: workflow_dispatch

jobs:
  task:
    name: Task
    runs-on: ubuntu-latest
    steps:
    - name: Repository Checkout
      uses: actions/checkout@v2
    - name: Year Replacement
      env:
        LICENSE_REGEX: 2019-\d{4}
        LICENSE_FILE: LICENSE.md
      run: |
        CURRENT_YEAR=$(date +%Y)
        grep -P "$LICENSE_REGEX" "$LICENSE_FILE"
        sed -i "s/$LICENSE_REGEX/2019-$CURRENT_YEAR/g" "$LICENSE_FILE"
        grep -P "$LICENSE_REGEX" "$LICENSE_FILE"
        git remote set-url origin "https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
        git config --local user.name "${{ secrets.BOT_USERNAME }}"
        git config --local user.email "${{ secrets.BOT_EMAIL }}"
        git add --a
        git diff-index --quiet HEAD || git commit -m "License $CURRENT_YEAR"
        git push
